#main {
    
    height: 400px;
    background-color:gray;
    width: 500px;
    top: 10%;
    right: calc(50% - 200px);
    position:absolute;
}

#text {
    height:200px;
    width:80%;
    margin:auto;
    top: 20px;
    background-color:white;
    position:relative;
}

h2 {
    margin: 10px;
}

button {
    height: 40px;
    width: 100px;
    margin:10px;
    margin-top:30px;
    position:relative;
}

#button1 {
    margin-left:60px;
}